<template>
  <v-dialog v-model="dialog" max-width="600px">
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ selectedData.name }}</span>
      </v-card-title>
      <v-card-text>
        <p>{{ selectedData.description }}</p>
        <p>Version: {{ selectedData.version }}</p>
        <p v-for="(value, name) in selectedData.links" :key="name">
          {{ name.charAt(0).toUpperCase() + name.slice(1) }}:
          <a :href="value" target="_blank">{{ value }}</a>
        </p>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="dialog = false">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['selected'],
  data: () => ({
    dialog: false,
  }),
  computed: {
    selectedData() {
      return (
        this.selected || {
          name: 'vue',
          description:
            'Reactive, component-oriented view layer for modern web interfaces.',
          links: null,
          version: '1.0',
        }
      );
    },
  },

  methods: {
    show() {
      this.dialog = true;
    },
  },
};
</script>
