<template>
  <div class="searchBar">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            name="search-input"
            label="Search package"
            single-line
            v-model="searchField"
            prepend-icon="mdi-magnify"
            @input="searchPackage"
            class="searchInput"
          >
          </v-text-field>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import config from '../../config';
import debounce from 'debounce';
export default {
  name: 'searchBar',
  data: () => ({
    searchField: '',
    options: {
      page: 1,
      itemsPerPage: 10,
    },
  }),
  methods: {
    searchPackage: debounce(function() {
      this.$store.dispatch('SEARCH_QUERY', this.searchField);
      this.$store.dispatch('FETCH_PACKAGES_LIST', this.options);
    }, config.debouncers.default),
  },
};
</script>
<style lang="scss">
.searchInput {
  input {
    color: #fff !important;
  }
  label {
    color: #fff !important;
  }
}
.searchInput {
  .theme--light.v-icon {
    color: rgba(255, 255, 255, 0.95);
  }
}
.searchBar {
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.theme--light.v-text-field {
  > .v-input__control {
    > .v-input__slot {
      &:before {
        border-color: #fff !important;
      }
    }
  }
}
.v-application {
  .searchInput {
    .primary--text {
      color: #e23b39 !important;
    }
  }
}
.v-text-field {
  > .v-input__control {
    > .v-input__slot {
      &:after {
        color: #e23b39 !important;
      }
      &:before {
        color: #e23b39 !important;
      }
    }
  }
}
</style>
