<template>
  <div class="table-component">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :footer-props="footerProps"
            :headers="headers"
            :items="this.$store.state.packageList"
            :loading="loading"
            :options.sync="options"
            :server-items-length="this.$store.state.totalPackages"
            class="elevation-2"
            @click:row="clickRow"
          >
            <template #item.name="{ item, value: name }">
              <span> {{ name }} </span>
            </template>
            <template #item.author="{ item, value: author }">
              <p v-for="(value, name) in author" :key="name">
                <span>{{ name }}:</span> <span>{{ value }}</span>
              </p>
            </template>
            <template #item.keywords="{ item, value: keywords }">
              <span v-for="(item, index) in keywords" :key="item.keywords">
                {{ item }}<span v-if="index != keywords.length - 1">,</span>
              </span>
            </template>
            <template v-slot:no-data>
              <v-alert :value="true" color="error" icon="mdi-alert-circle">
                Sorry, no packages found :(
              </v-alert>
            </template>
          </v-data-table>
          <DetailPopup ref="modal" :selected="selected" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import DetailPopup from '../components/DetailPopupComponent';

export default {
  components: {
    DetailPopup,
  },
  data: () => ({
    selected: null,
    sortBy: 'name',
    sortDesc: false,
    footerProps: {
      itemsPerPageOptions: [-1],
      itemsPerPageText: 'Packages',
      showFirstLastPage: true,
      showCurrentPage: true,
    },
    headers: [
      { text: 'Name', value: 'name', sortable: false, width: '20%' },
      { text: 'Author', value: 'author', sortable: false, width: '30%' },
      { text: 'Keywords', value: 'keywords', sortable: false, width: '50%' },
    ],
    loading: false,
    options: {
      page: 1,
      itemsPerPage: 10,
      sortBy: [false],
      sortDesc: [false],
    },
    pagination: {
      page: 1,
    },
    snackbar: {
      message: '',
      type: 'error',
      visible: false,
    },
  }),
  watch: {
    options: {
      handler() {
        this.nextResults();
      },
    },
    deep: true,
  },

  methods: {
    clickRow(selected) {
      this.selected = selected;
      this.$refs.modal.show();
    },
    nextResults() {
      this.$store.dispatch('FETCH_PACKAGES_LIST', this.options);
    },
  },
};
</script>
<style lang="scss">
.v-application .table-component p {
  margin-bottom: 5px;
}
</style>
