<template>
  <div>
    <Header />
    <Table />
    <Footer />
  </div>
</template>
<script>
import Header from '../components/header';
import Table from '../components/tableComponent';
import Footer from '../components/footerComponent';
export default {
  name: 'HomePage',
  components: {
    Header,
    Table,
    Footer,
  },
};
</script>
<style lang="scss"></style>
